/* reset */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

menu,
ul,
ol {
	list-style: none;
}

img {
	max-width: 100%;
}

/* layout */

.container {
    margin: 0 auto;
    max-width: 1000px;
}

header .container{
    max-width: 1200px;
}

.container .nav {
    display: flex;
    justify-content: space-between;
    background-color: #255EE9;
}

.nav > *{
    padding: 5px;
    align-self: center;
}

.nav {
    gap: 100px;
}

.nav .nav__login{
    /* align-self: flex-end; */
    text-align: end;
    width: fit-content;
    border-radius: 20px;
    padding: 8px 10px;
}

.nav__logo, 
.nav__login{
    width: 20%;
}

.nav__link {
    text-align: center;
    display: flex;
    gap: 50px;
    color: white;
}

header .nav__logo{
    width: 150px;
    height: 40px;
}

/* TOP BOX */
.top-box{
    max-width: 800px;
    min-height: 450px;
    margin: 0 auto;
    background-color: transparent;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}

.box-title{
    font-size: 40px;
}

.box-p {
    margin: 30px 120px;
    font-size: 15px;
}

.top-buttons {
    justify-content: center;
}

.downarrow {
    margin-right: 10px;
}

.download, 
.open {
    padding: 10px 20px;
    border-radius: 20px;
}

.download,
.nav__login {
    border: 1px solid white;
    background-color: white;
}

.download {
    color: black;
}

.open {
    margin-left: 20px;
    border: 1px solid black;
    background-color: #23272A;
    color: white;
}

/* TABELLA 1 e 3*/

.content .box-title {
    margin: 60px 60px 20px
}

.content .box-p {
    margin: 5px 60px;
}

.col-60,.col-40{
    min-height: 300px;
}

.col-60{
    width: 60%;
}

.col-40{
    width: 40%;
}



.col-70{
    width: 70%;
}

/*tab 2*/
.reverse .box-title,
.reverse .box-p {
    margin: 30px 50px;
}

.container .row,
.container .foot,
.top-buttons {
    display: flex;
}

.reverse .container .row{
    flex-direction: row-reverse;
}
 
/* tab 4 */
.cube {
    min-height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cube-p {
    margin: 0px 80px;
    text-align: center;
}

.ready {
    font-size: 20px;
    text-align: center;
    min-width: 350px;
    padding: 30px 20px;
    background-image: url(./img/stars.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

.cube .download {
    color: white;
    background-color: #8EA1E1;
    border-color: #8EA1E1;
}
/* footer contatti */
.col-30{
    width: 30%;
    display: flex;
    flex-direction: column;
}

.col-30 .box-title {
    font-size: 30px;
}

.col-30 > * {
    margin-top: 20px;
    color: white;
}

.recursive .box-title{
    color: #7289DA;
}

.it-flag {
    width: 30px;
    height: 20px;
    vertical-align: middle;
}

.socials {
    display: flex;
    gap: 20px;
}

.icons{
    width: 30px;
    height: 30px;
}

.col-25 li {
    margin: 13px 0px;
    color: white;
}
.col-25{
    min-height: 350px;
    width: 25%;
}

.list-title {
    color: #7289DA;
}

.foot {
    justify-content: space-between;;
}

/* style */
.header {
    padding: 8px 0px;
    background-color: #255EE9;
}

.top {
    padding: 30px;
    background-image: url(./img/jumbo.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.reverse{
    background-color: #dadada;
}

.content {
    padding: 30px;
}


.recursive {
    padding-top: 10px;
    padding-bottom: 30px;
    background-color: #23272A;
}

.bottom {
    padding-top: 20px;
    background-color: #23272A;
}

.bottom .container {
    border-top: 2px solid #8EA1E1;
    padding-top: 30px;
}

.foot__button{
    background-color: #8EA1E1;
    margin: 8px 0px;
    width: fit-content;
    border-radius: 20px;
    border-color: #8EA1E1;
    padding: 8px 10px;
    color: white;
}

.foot .nav__logo{
    height: 40px;
    text-align: start;
    width: auto;
}


/* debug */

.debug .container, 
.debug .top-box {
    border: 2px dashed black;
}

.debug .col-25{
    border: 2px dashed white;
}

.debug .col-30{
    border-right: 2px dashed black;
    background-color:#4D4FD9;
}

.debug .nav__link {
    border-left: 1px solid red;
    border-right: 1px solid red;
}

.debug .col-40 {
    border-left: 2px dashed black;
}

.debug .reverse .container .row .col-40{
    border-right: 2px dashed black;
    border-left: none;
}

.debug .foot__logo, 
.debug .foot__button{
    border: 2px dashed black;
}